- const thisPage = "index";
- const pageTitle = "title"
- const pageKeywords = "meta tags"
- const pageDescription = "meta description"

doctype html
html(lang="ja")
  head
    include _partial/_head
  body
    // html code here!!
